/* css 파일의 주석 (external방식) */ 
#myid2{
    background-color: yellow;
    color: red;
    font-size: 20px;
}

/* 동적 선택자*/
/* input:focus{background-color: #aabbcc;} */
/* input:focus{background-color: silver;} */
/* input:focus{background-color: rgb(255,255,0);} */
input:focus{background-color: rgb(100%,100%,0%);} /* 폼 글릭시 background 색 노란색으로 변경*/

a:link{text-decoration: none;} /* 하이퍼링크 밑 줄 없애기 */
a:hover{color:orange; font-size: 30px;} /* 기능이 over out over out ... */

/* 선택 연습*/
b{font-size: 8px;}
div b{font-size: 16px} /* div tag 자손들 모두 해당 */
div > b{font-size: 20px; color:blue} /* div tag 직계자식만 해당 */
div > b#hi{font-size: 24px;} 
div > b.hello{font-size: 40px;} 
